<html ng-app="HandRave" class="no-js">
<head>
  <title>HandRave</title>
  
  <script src="/resources/angular.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Open+Sans|Syncopate' rel='stylesheet' type='text/css'>
  <link href="bump.css" rel="stylesheet" type="text/css">
  <link href="/resources/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="mainController">
	<div id="main">
    <div class="title">
      <div>HANDRAVE</div>
    </div>
    <div class="controls">
      <div id="song">
        Steve Aoki- Boneless
      </div>
      <div>Streamed from <a href="http://soundcloud.com"><img src="/resources/sc.png"> SoundCloud</a></div>
      <div>Press <strong>Space</strong> to pause<br>Number keys <strong>1-3</strong> to toggle songs</div>
    </div>
    <accordion>
      <accordion-group is-open="status.open">
        <accordion-heading>
          Options <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        <div id="options">
          <div>Downwards Swipe</div>
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="gesture.down" btn-radio="sounds[0]" uncheckable>{{sounds[0].name}}</label>
            <label class="btn btn-primary" ng-model="gesture.down" btn-radio="sounds[1]" uncheckable>{{sounds[1].name}}</label>
            <label class="btn btn-primary" ng-model="gesture.down" btn-radio="sounds[6]" uncheckable>{{sounds[6].name}}</label>
            <label class="btn btn-primary" ng-model="gesture.down" btn-radio="sounds[7]" uncheckable>{{sounds[7].name}}</label>
          </div>
          <div>Sideways (left) Swipe</div>
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="gesture.left" btn-radio="sounds[0]" uncheckable>{{sounds[0].name}}</label>
            <label class="btn btn-primary" ng-model="gesture.left" btn-radio="sounds[1]" uncheckable>{{sounds[1].name}}</label>
            <label class="btn btn-primary" ng-model="gesture.left" btn-radio="sounds[6]" uncheckable>{{sounds[6].name}}</label>
            <label class="btn btn-primary" ng-model="gesture.left" btn-radio="sounds[7]" uncheckable>{{sounds[7].name}}</label>
          </div>
          <div>Upwards Swipe</div>
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="gesture.up" btn-radio="sounds[2]" uncheckable>{{sounds[2].name}}</label>
            <label class="btn btn-primary" ng-model="gesture.up" btn-radio="sounds[3]" uncheckable>{{sounds[3].name}}</label>
            <label class="btn btn-primary" ng-model="gesture.up" btn-radio="sounds[4]" uncheckable>{{sounds[4].name}}</label>
            <label class="btn btn-primary" ng-model="gesture.up" btn-radio="sounds[5]" uncheckable>{{sounds[5].name}}</label>
          </div>
          <div>
            <input type="checkbox" ng-model="colorsOn">
            Flash colors on downwards swipe
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
  <canvas id="plots"></canvas>
  <div id="widget"></div>



  
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.js"></script>
  <script src="//js.leapmotion.com/leap-0.6.2.min.js"></script>
  <script src="//js.leapmotion.com/leap-plugins-0.1.6.1.js"></script>
  <script src="//js.leapmotion.com/leap.rigged-hand-0.1.4.min.js"></script>
  <script src="//js.leapmotion.com/leap-plugins-0.1.10-utils.js"></script>
  <script src="//connect.soundcloud.com/sdk.js"></script>
  <script src="/resources/ui-bootstrap.min.js"></script>
  <!-- <script src="/resources/bootstrap.min.js"></script> -->
  <script src="/resources/scapi.js"></script>
  <script src="/sc.js"></script>
  <script src="/bump.js"></script>
</body>
</html>  
