<html ng-app="LeapShowcase" class="no-js">
<head>
  <title>LeapShowcase</title>

  <script src="/resources/angular.min.js"></script>
  <link href='//fonts.googleapis.com/css?family=Open+Sans|Syncopate' rel='stylesheet' type='text/css'>
  <link href="main.css" rel="stylesheet" type="text/css">
  <link href="/resources/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="mainController">
	<div id="main">
    <div class="title">
      <div>DJ LEAP</div>
    </div>

    <button ng-click="play()" class="btn btn-default">
      Play/Reset
    </button>

    <button ng-click="pause()" class="btn btn-default">
      Pause
    </button>

    <button ng-click="quieter()" class="btn btn-default">
      Quieter
    </button>

    <button ng-click="louder()" class="btn btn-default">
      Louder
    </button>

    <button ng-click="fasterSpeed()" class="btn btn-default">
      Faster
    </button>

    <button ng-click="slowerSpeed()" class="btn btn-default">
      Slower
    </button>

    <br>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary" btn-radio="0" ng-model="songIndex">Hotline Bling</label>
      <label class="btn btn-primary" btn-radio="1" ng-model="songIndex">Roses</label>
      <label class="btn btn-primary" btn-radio="2" ng-model="songIndex">Work</label>
      <label class="btn btn-primary" btn-radio="3" ng-model="songIndex">Cake By the Ocean</label>
    </div>

    <p>{{songIndex}}</p>
    <p>{{rate}}</p>

  </div>
  <canvas id="plots"></canvas>
  <div id="widget"></div>

  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.js"></script>
  <script src="//js.leapmotion.com/leap-0.6.2.min.js"></script>
  <script src="//js.leapmotion.com/leap-plugins-0.1.6.1.js"></script>
  <script src="//js.leapmotion.com/leap.rigged-hand-0.1.4.min.js"></script>
  <script src="//js.leapmotion.com/leap-plugins-0.1.10-utils.js"></script>
  <script src="/resources/ui-bootstrap.min.js"></script>
  <!-- <script src="/resources/bootstrap.min.js"></script> -->
  <script src="/main.js"></script>
</body>
</html>
