body{
  font-family: "Open Sans", sans-serif !important;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
canvas{
	width: 100%;
	height: 100%;
	pointer-events: none;
}
img#connect-leap{
  max-width: 100%;
}
#plots{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 300px;
	height: 150px;
  background-color: white;
}
#main{
	height: 100%;
	width: 100%;
	margin: 0;
  background-color: black;
}
#widget{
  position: fixed;
  top: 0px;
  right: 0px;
}
#widget iframe{
  height: 100px;
}
#options{ /*
  position: fixed;
  top: 0px;
  left: 0px; */
}
.title{
  text-align: center;
}
.title div{
  font-size: 5em;
  font-family: "Syncopate", sans-serif;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  white-space: pre;
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #CFE2F6 , 0 0 70px #CFE2F6 , 0 0 80px #CFE2F6 , 0 0 100px #CFE2F6 ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}


.btn-group{
  margin-bottom: 10px;
}
accordion{
  position: fixed;
  top: 0px;
  left: 0px;
}
.controls{
  position: fixed;
  top: 5px;
  right: 5px;
  text-align: right;
}
#song{
  font-weight: bold;
}